DATABASE_URL="DATABASE_URL"

SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_SECURE="false"
SMTP_USER="apikey"
SMTP_PASS="your-sendgrid-api-key"
MAIL_FROM="Auction Startup <your-verified-sender@example.com>"
